body {
	font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
	background:#f3f3f3;
}
h4 {
	font-size: 1.4em; /*2.4em × 10 = 24px */
}
p	{
	font-size: 1em; /*1.4em × 10 = 14px */
	margin:0;
}
li {
	font-size: 1.2em; /*1.4 × ? = 14px ? */
	list-style: none;
}
img{
	width: 100%;
}

h3{
	margin:0;
}
ul{
	margin: 0;
	padding: 0;
}
dl{
	margin-bottom: 0;
}
a:hover{
	text-decoration: none;
}
header{
    position: relative;
    height: 5rem;
    background: #1b1a1f;
}
header a i,header a span,header h3{
    position: absolute;
}
header a{
  position: absolute;
  left: 3.5rem;
  top: 1.3rem;
  display: block;
  color: #fff;
  font-size: 2rem;
}
header a i.g-icon-left{
  left: -1.8rem;
  font-size: 4.4rem;
  background: url(./../images/g-icon-left_03.png) no-repeat;
  width: 2.3rem;
  height: 3.8rem;
  background-size: 1.3rem;
}
header h3{
    left: 50%;
    margin-left: -4.4rem;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 100;
    top: 1.5rem;
}

nav{
  position: fixed;
  bottom: 0;
  background: #f8f8f8;
  width: 100%;
  border-top: 1px solid #cacaca;
}
nav li.selected a{
  color: #f9660a;
}
nav ul{
  display: flex;
  margin: 0;
  padding: 0;
}
nav li{
  padding: 0.5rem 1rem;
  margin: 0 auto;
}
nav li a{
  color: #ccc;
  display: block;
}
nav li a::before{
  content: "";
  display: block;
  width: 3rem;
  height: 2.4rem;
  background: url(./../images/icons.png) no-repeat;
  background-size: 6rem;
}
nav li:first-child a::before{
  background-position: -3.7rem 0rem;
}
nav li:nth-child(2) a::before{
  background-position: -3.8rem -2.4rem;
}
nav li:nth-child(3) a::before{
  background-position: -2.9rem -5rem;
}
nav li:nth-child(4) a::before{
  background-position: -3.3rem -7.4rem;
}
nav li:last-child a::before{
  background-position: -3.3rem -9.7rem;
}
del{
	color: #878787;
}
a{
	display: inline-block;
}
.panel{
  margin-bottom: 0.6rem;
}
.main-content{
  padding-bottom: 5rem;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
}
.rating span.star{
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}
.rating span.star:before{
	content: "\f006";
	padding-right: 5px;
	color: #999999;
}
.rating span.star:hover:before, .rating span.star:hover ~ span.star:before{
	content: "\f005";
	color: #ffb244;
}
.btn-danger{
  background: #f9660a;
  border-color: #f9660a;
}
.btn-default{
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 0;
}
.btn-warning{
	background: #ff9402;
}
.btn-warning:focus,
.btn-danger:focus{
	outline: none;
}

.btn-danger.active.focus,
/*.btn-danger.active:focus,*/
.btn-danger.active:hover,
.btn-danger:active.focus,
/*.btn-danger:active:focus,*/
.btn-danger:active:hover,
.open>.dropdown-toggle.btn-danger.focus,
/*.open>.dropdown-toggle.btn-danger:focus,*/
.open>.dropdown-toggle.btn-danger:hover{
	background: #d65403;
}
